@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  
  --color-hems-red: #E63946;
  --color-hems-blue: #1D3557;
  --color-hems-blue-light: #457B9D;
  --color-hems-white: #F1FAEE;
}

:root {
  --background: #ffffff;
  --foreground: #1D3557;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
